# Data Collection

In [1]:
#Read data
import pandas as pd
merged_df = pd.read_csv('../data/processed/merged_df.csv',low_memory=False)

# Load and Explore Dataset

In [2]:
#rename df
train_df = merged_df

In [3]:
#Display 5 first rows
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,day,count,date,wm_yr_wk,event_name,event_type,sell_price,revenue,year,month
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,NaN,NaN,2011,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,NaN,NaN,2011,1
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,NaN,NaN,2011,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,NaN,NaN,2011,1
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,NaN,NaN,2011,1

In [4]:
#Display Dimension
train_df.shape

(47107050, 16)

In [5]:
#Display info
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47107050 entries, 0 to 47107049
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   id          object
 1   item_id     object
 2   dept_id     object
 3   cat_id      object
 4   store_id    object
 5   state_id    object
 6   day         int64
 7   count       int64
 8   date        object
 9   wm_yr_wk    int64
 10  event_name  object
 11  event_type  object
 12  sell_price  float64
 13  revenue     float64
 14  year        int64
 15  month       int64
dtypes: float64(2), int64(5), object(9)
memory usage: 5.6+ GB

In [6]:
#Display the descriptive statistics of train_df
train_df.describe()

,day,count,wm_yr_wk,sell_price,revenue,year,month
count,4.710705e+07,4.710705e+07,4.710705e+07,3.481517e+07,3.481517e+07,4.710705e+07,4.710705e+07
mean,1.566861e+01,1.087059e+00,1.128854e+04,4.383812e+00,4.102582e+00,2.012703e+03,6.325566e+00
std,8.794170e+00,3.934360e+00,1.207423e+02,3.358256e+00,1.046314e+01,1.241316e+00,3.459918e+00
min,1.000000e+00,0.000000e+00,1.110100e+04,1.000000e-02,0.000000e+00,2.011000e+03,1.000000e+00
25%,8.000000e+00,0.000000e+00,1.120400e+04,2.080000e+00,0.000000e+00,2.012000e+03,3.000000e+00
50%,1.600000e+01,0.000000e+00,1.130700e+04,3.440000e+00,0.000000e+00,2.013000e+03,6.000000e+00
75%,2.300000e+01,1.000000e+00,1.140900e+04,5.840000e+00,4.850000e+00,2.014000e+03,9.000000e+00
max,3.100000e+01,7.630000e+02,1.151200e+04,1.073200e+02,2.164320e+03,2.015000e+03,1.200000e+01

In [7]:
# Assuming you have a DataFrame called df
unique_year_values = train_df['year'].unique()

# This will give you an array of unique values in the 'yar' column
print(unique_year_values)

[2011 2012 2013 2014 2015]

# Prepare Data

In [8]:
import pandas as pd

# filter data
train_df = train_df[(train_df['year'] == 2014) | (train_df['year'] == 2015)]

Since the dataset was huge and we ran out of memory we only keep last two years.

In [9]:
#create a copy of dataframe
train_cleaned=train_df.copy()

In [10]:
#shape
train_cleaned.shape

(14482750, 16)

ohe

In [11]:
import pandas as pd

def ohe(df, categorical_columns):
    """
    Perform one-hot encoding on the specified categorical columns in a DataFrame.
    
    Parameters:
        df (pandas.DataFrame): The DataFrame to be encoded.
        categorical_columns (list): A list of column names to one-hot encode.
        
    Returns:
        pandas.DataFrame: The DataFrame with one-hot encoded columns.
    """
    for col in categorical_columns:
        df = pd.get_dummies(df, columns=[col], prefix=col, prefix_sep='_')
    
    # Convert only the one-hot encoded columns to integer (0 and 1)
    ohe_columns = [col for col in df.columns if any(col.startswith(prefix) for prefix in categorical_columns)]
    df[ohe_columns] = df[ohe_columns].astype(int)
    
    return df

In [12]:
#categorical columns
cat_cols=['event_name', 'event_type']

train_cleaned=ohe(train_cleaned , cat_cols)

In [13]:
# fill missing values with zero
train_cleaned.fillna(0, inplace=True)

In [14]:
train_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14482750 entries, 32624300 to 47107049
Data columns (total 50 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              object
 1   item_id                         object
 2   dept_id                         object
 3   cat_id                          object
 4   store_id                        object
 5   state_id                        object
 6   day                             int64
 7   count                           int64
 8   date                            object
 9   wm_yr_wk                        int64
 10  sell_price                      float64
 11  revenue                         float64
 12  year                            int64
 13  month                           int64
 14  event_name_0                    int64
 15  event_name_Chanukah End         int64
 16  event_name_Christmas            int64
 17  event_name_Cinco De Mayo        int64
 18  event_name_ColumbusDay          int64
 19  event_name_Easter               int64
 20  event_name_Eid al-Fitr          int64
 21  event_name_EidAlAdha            int64
 22  event_name_Father's day         int64
 23  event_name_Halloween            int64
 24  event_name_IndependenceDay      int64
 25  event_name_LaborDay             int64
 26  event_name_LentStart            int64
 27  event_name_LentWeek2            int64
 28  event_name_MartinLutherKingDay  int64
 29  event_name_MemorialDay          int64
 30  event_name_Mother's day         int64
 31  event_name_NBAFinalsEnd         int64
 32  event_name_NBAFinalsStart       int64
 33  event_name_NewYear              int64
 34  event_name_OrthodoxChristmas    int64
 35  event_name_OrthodoxEaster       int64
 36  event_name_Pesach End           int64
 37  event_name_PresidentsDay        int64
 38  event_name_Purim End            int64
 39  event_name_Ramadan starts       int64
 40  event_name_StPatricksDay        int64
 41  event_name_SuperBowl            int64
 42  event_name_Thanksgiving         int64
 43  event_name_ValentinesDay        int64
 44  event_name_VeteransDay          int64
 45  event_type_0                    int64
 46  event_type_Cultural             int64
 47  event_type_National             int64
 48  event_type_Religious            int64
 49  event_type_Sporting             int64
dtypes: float64(2), int64(41), object(7)
memory usage: 5.5+ GB

In [15]:
# Categorical feature names - specify the names of your categorical columns
categorical_features = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
# Convert categorical features to the 'category' data type
for feature in categorical_features:
    train_cleaned[feature] = train_cleaned[feature].astype('category')

In [16]:
#Drop un needed columns
train_cleaned.drop(columns=['id'], inplace=True)
train_cleaned.drop(columns=['date'], inplace=True)
train_cleaned.drop(columns=['wm_yr_wk'], inplace=True)

# Split Dataset

In [17]:
# indicating x and y columns 
y= train_cleaned["revenue"]
x= train_cleaned.drop(["revenue"],axis=1)

In [18]:
#split dataset
from sklearn.model_selection import train_test_split
#Split the dataset into 2 different sets: data (80%) and test (20%)
x_data, x_test, y_data, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

#Split the data randomly into 2 different sets: training (80%) and validation (20%)
x_train, x_val, y_train, y_val = train_test_split(x_data, y_data, test_size=0.2, random_state=42)

# Train LGBM

In [ ]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.metrics import mean_squared_error

# Initialize LightGBM regressor
lgb_reg = lgb.LGBMRegressor()

param_dist = {
    "n_estimators": [250, 350, 450],
}

# Define K-fold cross-validation (you can use KFold for regression)
cv = KFold(n_splits=5, shuffle=True, random_state=42)

# Categorical feature names - specify the names of your categorical columns
categorical_features = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']  



# Convert categorical features to the 'category' data type
for feature in categorical_features:
    x_val[feature] = x_val[feature].astype('category')    
    
# Use GridSearchCV to find the best hyperparameters
grid = GridSearchCV(lgb_reg, param_dist, cv=cv, refit=True, scoring='neg_mean_absolute_error', verbose=2)

# Add categorical_feature parameter to the fit function
grid.fit(x_train, y_train, categorical_feature=categorical_features)

# Print the best hyperparameters found
print("Best hyperparameters:", grid.best_params_)

# Get the best model
best_model = grid.best_estimator_

# # Convert categorical features in x_test to the 'category' data type using the same categorical_features list
# for feature in categorical_features:
#     x_test[feature] = x_test[feature].astype('category')

# Make predictions on the test set
y_pred = best_model.predict(x_test)

# Calculate RMSE on the test set
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Test RMSE:", rmse)

Fitting 5 folds for each of 3 candidates, totalling 15 fits