# Data Collection

In [2]:
#Read data
import pandas as pd
merged_df = pd.read_csv('../data/processed/merged_df.csv',low_memory=False)

In [3]:
train_df=merged_df

# Reduce the size

In [4]:
# fill missing values
# Fill missing values in 'column 1' and 'column 2' with 0
train_df['sell_price'].fillna(0, inplace=True)
train_df['revenue'].fillna(0, inplace=True)

import pandas as pd

class MemoryReducer:
    def __init__(self, df):
        self.df = df.copy()

    def reduce_memory_usage(self):
        initial_memory = self.df.memory_usage(deep=True).sum() / (1024 ** 2)  # in megabytes
        print(f"Initial Memory Usage: {initial_memory:.2f} MB")

        for col in self.df.columns:
            col_type = self.df[col].dtype

            if col_type != object:
                if "int" in str(col_type):
                    self.df[col] = pd.to_numeric(self.df[col], downcast="integer")
                elif "float" in str(col_type):
                    self.df[col] = pd.to_numeric(self.df[col], downcast="float")
            else:
                num_unique_values = len(self.df[col].unique())
                num_total_values = len(self.df[col])
                if num_unique_values / num_total_values < 0.5:
                    self.df[col] = self.df[col].astype("category")

        reduced_memory = self.df.memory_usage(deep=True).sum() / (1024 ** 2)  # in megabytes
        print(f"Reduced Memory Usage: {reduced_memory:.2f} MB")
        reduction_percentage = ((initial_memory - reduced_memory) / initial_memory) * 100
        print(f"Memory Reduced by: {reduction_percentage:.2f}%")

        return self.df



reducer = MemoryReducer(train_df)
reduced_df = reducer.reduce_memory_usage()

Initial Memory Usage: 28997.45 MB
Reduced Memory Usage: 1261.80 MB
Memory Reduced by: 95.65%

In [5]:
#rename
df_train=reduced_df

# Load and Explore Dataset

In [6]:
#see the head
df_train.head()

,id,item_id,dept_id,cat_id,store_id,state_id,day,count,date,wm_yr_wk,event_name,event_type,sell_price,revenue,year,month
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,0.0,0.0,2011,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,0.0,0.0,2011,1
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,0.0,0.0,2011,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,0.0,0.0,2011,1
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,29,0,2011-01-29,11101,0,0,0.0,0.0,2011,1

In [7]:
#see the dimension
df_train.shape

(47107050, 16)

In [8]:
#see the info
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47107050 entries, 0 to 47107049
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   id          category
 1   item_id     category
 2   dept_id     category
 3   cat_id      category
 4   store_id    category
 5   state_id    category
 6   day         int8
 7   count       int16
 8   date        category
 9   wm_yr_wk    int16
 10  event_name  category
 11  event_type  category
 12  sell_price  float32
 13  revenue     float32
 14  year        int16
 15  month       int8
dtypes: category(9), float32(2), int16(3), int8(2)
memory usage: 1.2 GB

In [7]:
# Assuming you have a DataFrame called df
unique_year_values = df_train['year'].unique()

# This will give you an array of unique values in the 'yar' column
print(unique_year_values)

[2011 2012 2013 2014 2015]

In [8]:
# Count unique values in 'id'
unique_count_id = df_train['id'].nunique()

print(f"Number of unique values in 'id': {unique_count_id}")

Number of unique values in 'id': 30490

In [9]:
# Count unique values in 'item_id'
unique_count_item_id = df_train['item_id'].nunique()

print(f"Number of unique values in 'item_id': {unique_count_item_id}")

Number of unique values in 'item_id': 3049

In [10]:
# Count unique values in 'dept_id'
unique_count_dept_id = df_train['dept_id'].nunique()

print(f"Number of unique values in 'dept_id': {unique_count_dept_id}")

Number of unique values in 'dept_id': 7

In [11]:
# Count unique values in 'store_id'
unique_count_store_id = df_train['store_id'].nunique()

print(f"Number of unique values in 'store_id': {unique_count_store_id}")

Number of unique values in 'store_id': 10

In [12]:
# Count unique values in 'state_id'
unique_count_state_id = df_train['state_id'].nunique()

print(f"Number of unique values in 'state_id': {unique_count_state_id}")

Number of unique values in 'state_id': 3

# Feature Engineering

we use binary encoding for those with categorical columns.

In [20]:
import category_encoders as ce


# Create a BinaryEncoder instance
encoder = ce.BinaryEncoder(cols=['item_id','event_type', 'event_name','dept_id', 'cat_id', 'store_id','state_id'])

# Fit and transform the DataFrame to perform binary encoding
df_encoded = encoder.fit_transform(df_train)

In [21]:
#rename_df
df_train=df_encoded

In [22]:
# fill missing values
# Fill missing values in 'column 1' and 'column 2' with 0
df_train['sell_price'].fillna(0, inplace=True)
df_train['revenue'].fillna(0, inplace=True)

In [23]:
#see the columns
df_train.columns

Index(['id', 'item_id_0', 'item_id_1', 'item_id_2', 'item_id_3', 'item_id_4',
       'item_id_5', 'item_id_6', 'item_id_7', 'item_id_8', 'item_id_9',
       'item_id_10', 'item_id_11', 'dept_id_0', 'dept_id_1', 'dept_id_2',
       'cat_id_0', 'cat_id_1', 'store_id_0', 'store_id_1', 'store_id_2',
       'store_id_3', 'state_id_0', 'state_id_1', 'day', 'count', 'date',
       'wm_yr_wk', 'event_name_0', 'event_name_1', 'event_name_2',
       'event_name_3', 'event_name_4', 'event_type_0', 'event_type_1',
       'event_type_2', 'sell_price', 'revenue', 'year', 'month'],
      dtype='object')

In [24]:
# drop 'wm_yr_wk' column
df_train.drop(columns=['wm_yr_wk'], inplace=True)

# drop 'date' column
df_train.drop(columns=['date'], inplace=True)

In [25]:
#get info
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47107050 entries, 0 to 47107049
Data columns (total 38 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id_0     int64
 2   item_id_1     int64
 3   item_id_2     int64
 4   item_id_3     int64
 5   item_id_4     int64
 6   item_id_5     int64
 7   item_id_6     int64
 8   item_id_7     int64
 9   item_id_8     int64
 10  item_id_9     int64
 11  item_id_10    int64
 12  item_id_11    int64
 13  dept_id_0     int64
 14  dept_id_1     int64
 15  dept_id_2     int64
 16  cat_id_0      int64
 17  cat_id_1      int64
 18  store_id_0    int64
 19  store_id_1    int64
 20  store_id_2    int64
 21  store_id_3    int64
 22  state_id_0    int64
 23  state_id_1    int64
 24  day           int8
 25  count         int16
 26  event_name_0  int64
 27  event_name_1  int64
 28  event_name_2  int64
 29  event_name_3  int64
 30  event_name_4  int64
 31  event_type_0  int64
 32  event_type_1  int64
 33  event_type_2  int64
 34  sell_price    float32
 35  revenue       float32
 36  year          int16
 37  month         int8
dtypes: category(1), float32(2), int16(2), int64(31), int8(2)
memory usage: 11.6 GB

In [26]:
#calculating lags feature
import numpy as np
def calculate_lagged_values(df, lags, column_name):
    for lag in lags:
        df[column_name + "_lag_" + str(lag)] = df.groupby("id")[column_name].shift(lag).astype(np.float16)
        df[column_name + "_lag_" + str(lag)].fillna(0, inplace=True)

lags=[1,5,7,14]
calculate_lagged_values(df_train, lags, "revenue")

In summary, calculating lags is a way to look at past sales data to see if it has any influence on the sales made on the current day. It helps you explore whether there's a relationship between recent sales and today's sales in a store.

In [27]:
#drop id column
df_train.drop(columns=['id'], inplace=True)

In [28]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47107050 entries, 0 to 47107049
Data columns (total 41 columns):
 #   Column          Dtype
---  ------          -----
 0   item_id_0       int64
 1   item_id_1       int64
 2   item_id_2       int64
 3   item_id_3       int64
 4   item_id_4       int64
 5   item_id_5       int64
 6   item_id_6       int64
 7   item_id_7       int64
 8   item_id_8       int64
 9   item_id_9       int64
 10  item_id_10      int64
 11  item_id_11      int64
 12  dept_id_0       int64
 13  dept_id_1       int64
 14  dept_id_2       int64
 15  cat_id_0        int64
 16  cat_id_1        int64
 17  store_id_0      int64
 18  store_id_1      int64
 19  store_id_2      int64
 20  store_id_3      int64
 21  state_id_0      int64
 22  state_id_1      int64
 23  day             int8
 24  count           int16
 25  event_name_0    int64
 26  event_name_1    int64
 27  event_name_2    int64
 28  event_name_3    int64
 29  event_name_4    int64
 30  event_type_0    int64
 31  event_type_1    int64
 32  event_type_2    int64
 33  sell_price      float32
 34  revenue         float32
 35  year            int16
 36  month           int8
 37  revenue_lag_1   float16
 38  revenue_lag_5   float16
 39  revenue_lag_7   float16
 40  revenue_lag_14  float16
dtypes: float16(4), float32(2), int16(2), int64(31), int8(2)
memory usage: 11.8 GB

we only use subset of dataset since the dataset is huge and our kernel died everytime trying to use whole dataset.

In [29]:
#subset of data
unique_years = df_train['year'].unique()
sampled_data = []

for year in unique_years:
    year_subset = df_train[df_train['year'] == year]
    sample_size = len(year_subset) // 10  # 1/10th of data for each year
    if sample_size > 0:
        sampled_year_data = year_subset.sample(n=sample_size, random_state=42)  # Randomly sample data for the year
        sampled_data.append(sampled_year_data)

# Combine the sampled data from each year into a new DataFrame
sampled_dataset = pd.concat(sampled_data)

In [30]:
sampled_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4710705 entries, 6623485 to 45200367
Data columns (total 41 columns):
 #   Column          Dtype
---  ------          -----
 0   item_id_0       int64
 1   item_id_1       int64
 2   item_id_2       int64
 3   item_id_3       int64
 4   item_id_4       int64
 5   item_id_5       int64
 6   item_id_6       int64
 7   item_id_7       int64
 8   item_id_8       int64
 9   item_id_9       int64
 10  item_id_10      int64
 11  item_id_11      int64
 12  dept_id_0       int64
 13  dept_id_1       int64
 14  dept_id_2       int64
 15  cat_id_0        int64
 16  cat_id_1        int64
 17  store_id_0      int64
 18  store_id_1      int64
 19  store_id_2      int64
 20  store_id_3      int64
 21  state_id_0      int64
 22  state_id_1      int64
 23  day             int8
 24  count           int16
 25  event_name_0    int64
 26  event_name_1    int64
 27  event_name_2    int64
 28  event_name_3    int64
 29  event_name_4    int64
 30  event_type_0    int64
 31  event_type_1    int64
 32  event_type_2    int64
 33  sell_price      float32
 34  revenue         float32
 35  year            int16
 36  month           int8
 37  revenue_lag_1   float16
 38  revenue_lag_5   float16
 39  revenue_lag_7   float16
 40  revenue_lag_14  float16
dtypes: float16(4), float32(2), int16(2), int64(31), int8(2)
memory usage: 1.2 GB

In [31]:
sampled_dataset.shape

(4710705, 41)

# Split dataset

In [32]:
# indicating x and y columns 
y= sampled_dataset["revenue"]
x= sampled_dataset.drop(["revenue"],axis=1)

In [33]:
#split dataset
from sklearn.model_selection import train_test_split
#Split the dataset into 2 different sets: data (80%) and test (20%)
x_data, x_test, y_data, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

#Split the data randomly into 2 different sets: training (80%) and validation (20%)
x_train, x_val, y_train, y_val = train_test_split(x_data, y_data, test_size=0.2, random_state=42)

# Scale the dataset

In [34]:
from sklearn.preprocessing import StandardScaler 
#Replace the feature values wirh rhe result of the scaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)
X_val_scaled = scaler.transform(x_val)

# ML

In [44]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import numpy as np

# Initialize XGBoost regressor
xgb_regressor = xgb.XGBRegressor()

param_dist = {
    "n_estimators": [250, 350, 450,650 ],
     #"max_depth": range(15, 20, 1),
     "gamma": [0.05, 0.5,1],
    # "learning_rate": [0.1, 0.2, 0.3]
}

# Scale your features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_scaled)

# Define cross-validation strategy (e.g., KFold)
cv = KFold(n_splits=5, shuffle=True, random_state=42) 

# Use GridSearchCV to find the best hyperparameters
grid = GridSearchCV(
    xgb_regressor, param_dist, cv=cv, refit=True, scoring='neg_mean_squared_error', verbose=2
)
grid.fit(X_train_scaled, y_train)

# Print the best hyperparameters found
print("Best hyperparameters:", grid.best_params_)

# Get the best model
best_model = grid.best_estimator_

# Predict on the validation set
y_pred = best_model.predict(X_train_scaled)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_train, y_pred))
print("Root Mean Squared Error (RMSE):", rmse)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV] END .......................gamma=0.05, n_estimators=650; total time=  16.4s
[CV] END .......................gamma=0.05, n_estimators=650; total time=  16.2s
[CV] END .......................gamma=0.05, n_estimators=650; total time=  16.8s
[CV] END .......................gamma=0.05, n_estimators=650; total time=  16.5s
[CV] END .......................gamma=0.05, n_estimators=650; total time=  17.1s
[CV] END ........................gamma=0.5, n_estimators=650; total time=  12.9s
[CV] END ........................gamma=0.5, n_estimators=650; total time=  12.9s
[CV] END ........................gamma=0.5, n_estimators=650; total time=  12.8s
[CV] END ........................gamma=0.5, n_estimators=650; total time=  12.4s
[CV] END ........................gamma=0.5, n_estimators=650; total time=  12.9s
[CV] END ..........................gamma=1, n_estimators=650; total time=  11.7s
[CV] END ..........................gamma=1, n_estimators=650; total time=  11.7s
[CV] END ..........................gamma=1, n_estimators=650; total time=  11.6s
[CV] END ..........................gamma=1, n_estimators=650; total time=  12.0s
[CV] END ..........................gamma=1, n_estimators=650; total time=  11.8s
Best hyperparameters: {'gamma': 0.05, 'n_estimators': 650}
Root Mean Squared Error (RMSE): 0.092370264

In [43]:
# Predict on the validation set
y_pred_test = best_model.predict(X_test_scaled)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred_test))
print("Root Mean Squared Error Test (RMSE):", rmse)

Root Mean Squared Error Test (RMSE): 0.3576363